body {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.gameplay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(white, rgb(193, 227, 255));
}

.grid-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  position: relative;
}

.grid-container::after {
  /* z-index: 10; */
  position: absolute;
  content: '';
  width: 120%;
  height: 10px;
  border-radius: 3px;
  background: linear-gradient(45deg, rgb(144, 33, 255), #563fff, rgb(125, 121, 255));
  box-shadow: 0 0 2px  rgb(102, 0, 255);
  transform: scale(0);
  pointer-events: none;
  transition: .15s all ease;
}

.grid-container.mark::after {
  opacity: .9;
  transform: scale(1);
}

.grid-container.mark.row1::after {
  top: 16%;
  transform: translate(0, -50%);
}
.grid-container.mark.row2::after {
  top: 50%;
  transform: translate(0, -50%);
}
.grid-container.mark.row3::after {
  top: 84%;
  transform: translate(0, -50%);
}
.grid-container.mark.col1::after {
  left: 16.3%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.col2::after {
  left: 50%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.col3::after {
  left: 84%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.dia1::after {
  transform: rotate(45deg);
  width: 150%;
}
.grid-container.mark.dia2::after {
  transform: rotate(-45deg);
  width: 150%;
}

.box-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(224, 207, 255);
  box-shadow: inset 0 0 5px rgb(234, 199, 255), 0px 2px 20px rgb(235, 219, 255);
  /* border: 1px solid black; */
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.box.cross-hover:hover {
  background-color: rgb(183, 144, 255);
}
.box.circle-hover:hover{
  background-color: rgb(183, 144, 255);
}
.box::before, .box::after {
  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  content: attr(data-value);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  pointer-events: none;
  z-index: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  text-shadow: 0 0 10px black;
}
.box.vanishing::before, .box.vanishing::after {
  content: '🔴';
  color: rgb(255, 74, 74) !important;
  text-shadow: 0 0 5px black;
  /* font-weight: bolder; */
}
.box::before {
  background-image: url("./imgs/circle.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
.box::after {
  background-image: url("./imgs/cross.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  color: rgb(255, 255, 255);
}
.box.cross {
  background-color: rgb(183, 144, 255);
}
.box.circle{
  background-color: rgb(183, 144, 255);
}
.box.cross::after {
  opacity: 1;
}
.box.circle::before{
  opacity: 1;
}
.box.cross-hover:hover::after {
  opacity: .15;
}
.box.circle-hover:hover::before{
  opacity: .15;
}
