body {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.gameplay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(white, rgb(193, 227, 255));
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.top-shelf {
  white-space: nowrap;
  position: absolute;
  right: 10px;
  top: 60px;
  box-shadow:  0 0 40px rgb(170, 117, 255), 2px 3px rgba(83, 6, 198, 0.603);
  background-color: rgb(173, 129, 255);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.title {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: black;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  padding-block: 10px;
  background: linear-gradient(45deg, rgb(205, 191, 255), rgb(177, 170, 255));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.167);
}

.bot-expressions {
  white-space: nowrap;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.game-over-overlay {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  text-transform: uppercase;
  display: none;
  font-size: 12px;
}
.game-over-overlay.show {
  display: flex;
}
.game-over-overlay.show + .btns{
  display: none;
}
.restart-btn.restart {
  display: block;
}
.game-over-overlay > .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.game-over-overlay > .text > p {
  line-height: 20px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: inset 2px 2px rgb(116, 83, 174), inset 3px 3px 5px rgb(145, 81, 255);
  background-color: white;
  background: radial-gradient(rgb(232, 245, 255), rgb(213, 236, 255));

}
.restart-btn, .is-bot, .bot-level-btn {
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: inset 0 0 5px rgb(133, 68, 255), 0 0 5px rgb(133, 68, 255);
  background-color: rgb(156, 103, 255);
  transition: .15s all;
  box-shadow: 2px 2px black;
  transform: translate(-2px, -2px);
}
.bot-level {
  margin-inline: 5.5px;
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 2px;
  background-color: black;
  color: white;
}
.restart-btn:hover, .is-bot:hover, .bot-level-btn:hover {
  color: white;
  background-color: rgb(144, 84, 255);
  box-shadow: 1px 1px black;
  transform: translate(-1px, -1px);
}
.restart-btn:active, .is-bot:active, .bot-level-btn:active {
  transform: scale(.95);
}
.is-bot:disabled, .bot-level-btn:disabled {
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.123);
  box-shadow: none;
  cursor: default;
  font-weight: bold;
}
.is-bot:hover:disabled, .bot-level-btn:disabled {
  box-shadow: inset 0 0 5px rgb(133, 68, 255), 0 0 5px rgb(133, 68, 255);
  background-color: rgb(156, 103, 255);
  box-shadow: none;
  transform: translate(-2px, -2px);
  color: black;
}

.bot-level-btn {
  position: relative;
  display: block;
}
.bot-level-btn::after {
  color: black;
  position: absolute;
  content: attr(data-tip);
  bottom: -180%;
  right: -10px;
  padding: 5px 10px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: .15s all;
}
.bot-level-btn:hover::after {
  opacity: 1;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  position: relative;
}

.grid-container::after {
  /* z-index: 10; */
  position: absolute;
  content: '';
  width: 120%;
  height: 10px;
  border-radius: 3px;
  background: linear-gradient(45deg, rgb(144, 33, 255), #563fff, rgb(125, 121, 255));
  box-shadow: 0 0 2px  rgb(102, 0, 255);
  transform: scale(0);
  pointer-events: none;
  transition: .15s all ease;
}

.grid-container.mark::after {
  opacity: .9;
  transform: scale(1);
}

.grid-container.mark.row1::after {
  top: 16%;
  transform: translate(0, -50%);
}
.grid-container.mark.row2::after {
  top: 50%;
  transform: translate(0, -50%);
}
.grid-container.mark.row3::after {
  top: 84%;
  transform: translate(0, -50%);
}
.grid-container.mark.col1::after {
  left: 16.3%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.col2::after {
  left: 50%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.col3::after {
  left: 84%;
  transform: translate(-50%, 0) rotate(90deg);
}
.grid-container.mark.dia1::after {
  transform: rotate(45deg);
  width: 150%;
}
.grid-container.mark.dia2::after {
  transform: rotate(-45deg);
  width: 150%;
}

.box-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(224, 207, 255);
  box-shadow: inset 0 0 5px rgb(234, 199, 255), 0px 2px 20px rgb(235, 219, 255);
  transition: .15s all;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}
.box.cross-hover {
  background-color: rgb(183, 144, 255);
  border: 1px solid black;
}
.box.circle-hover{
  background-color: rgb(183, 144, 255);
  border: 1px solid black;
}
.box::before, .box::after {
  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  content: attr(data-value);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  pointer-events: none;
  z-index: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  text-shadow: 0 0 10px black;
}
.box.vanishing::before, .box.vanishing::after {
  content: '🔴';
  color: rgb(255, 74, 74) !important;
  text-shadow: 0 0 5px black;
  /* font-weight: bolder; */
}
.box::before {
  background-image: url("./imgs/circle.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
.box::after {
  background-image: url("./imgs/cross.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  color: rgb(255, 255, 255);
}
.box.cross {
  background-color: rgb(183, 144, 255);
}
.box.circle{
  background-color: rgb(183, 144, 255);
}
.box.cross::after {
  opacity: 1;
  animation: clicked .3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.box.circle::before{
  opacity: 1;
  animation: clicked .3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes clicked {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.8);
  }
  100%{
    transform: scale(1);
  }
}
.box.cross-hover:hover::after {
  opacity: .15;
}
.box.circle-hover:hover::before{
  opacity: .15;
}

footer {
  position: absolute;
  top: 100dvh;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(45deg, rgb(205, 191, 255), rgb(204, 199, 255));
  box-shadow: 0 0 2px black;
  padding: 2px 7px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer > a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 14px;
  }
  .top-shelf {
    right: unset;
    top: unset;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .btns {
    flex-direction: row;
  }
  .bot-level-btn::after {
    display: none !important;
  }
  .game-over-overlay {
    flex-direction: row;
  }
  .game-over-overlay > .text {
    flex-direction: row;
  }
  .bot-expressions {
    font-size: 16px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 130px;
  }
}
